@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Facebook page:</strong><p>Via Otaku Sociey</p><a href="https://www.facebook.com/groups/973209369361826/"> <img src="~/Images/fb_icon_325x325.png" width="50" height="50" alt="FB_icon" /> </a>
</address>